<div class="dashboard-section">

    <h1 style="padding-bottom: 7px;">Widgets</h1>
    <p style="font-size: 16px;">Dashboard widgets and components showcase</p>

    <br><br>

    <div class="dashboard-cards">
        @for (item of widgetDataRow1(); track item.id) {

        <div
            [class]="'dashboard-card-white'"
        >

            <div [class]="`dashboard-card-icon-white-`+ item.id">
                <mat-icon>{{ item.icon }}</mat-icon>
            </div>

            <div class="dashboard-card-content">
                @if ($index === 0) {
                    <h2 class="dashboard-card-cost">
                        ${{ item.number?.toLocaleString() || 0 }}
                    </h2>
                }
                @else {
                    <h2 class="dashboard-card-cost">
                        {{ item.number?.toLocaleString() || 0 }}
                    </h2>
                }

                <p class="dashboard-card-title-white">
                    {{ item.title }}
                </p>

            </div>

        </div>

        }

    </div>

    <br><br><br><br>    

    <div class="dashboard-cards">
        @for (item of widgetDataRow2(); track item.id) {

        <div
            [class]="'dashboard-card dashboard-card-' + item.id"
        >

            <div class="dashboard-card-content">

                <!-- @if ($index === 0) {

                    <h2 class="dashboard-card-cost">
                        {{ item.value }}
                    </h2>

                } @else if ($index === 3) {

                    <h2 class="dashboard-card-cost">
                    {{ item.cost }}%
                    </h2>

                } @else {

                    <h2 class="dashboard-card-cost">
                    {{ item.cost.toLocaleString() }}
                    </h2>

                } -->

                <h2 class="dashboard-card-cost">
                    {{ item.value }}
                </h2>

                <p class="dashboard-card-title">
                    {{ item.title }}
                </p>

            </div>

            <div class="dashboard-card-icon">
                <mat-icon>{{ item.icon }}</mat-icon>
            </div>

        </div>

        }

    </div>

    <br><br><br><br> 

    <div class="dashboard-cards">
        @for (item of widgetDataRow3(); track item.id) {

        <div
            [class]="'dashboard-card-white'"
        >

            <div [class]="`dashboard-card-icon-white-three-`+ item.id">
                <mat-icon>{{ item.icon }}</mat-icon>
            </div>

            <div class="dashboard-card-content">
                <p class="dashboard-card-title-white-three">
                    {{ item.title }}
                </p>


                <h2 class="dashboard-card-cost">
                    Total: {{ item.value }}
                </h2>

            </div>

        </div>

        }

    </div>

    <br><br><br><br>

    <div class="dashboard-cards-3fr">
        @for (item of widgetDataRow4(); track item.id) {

        <div class="dashboard-card-white">

            <div class="dashboard-card-white-content">

                <div class="dashboard-card-white-header">

                    <p class="dashboard-card-title-white-four">
                    {{ item.title }}
                    </p>

                    <div [class]="'dashboard-card-icon-white-four-' + item.id">
                    <mat-icon>{{ item.icon }}</mat-icon>
                    </div>

                </div>

                <h2 class="dashboard-card-cost">
                    {{ item.number?.toLocaleString() || 0 }}
                </h2>

                <br>

                <div class="progress-bar-container">
                    <div
                        class="progress"
                        [class]="'progress-bgcolor-' + item.id"
                        [style.width]="item.percent + '%'"
                    >
                    </div>
                    <p>{{ item.percent }}% of target</p>
                    
                </div>

            </div>

        </div>

        }

    </div>

</div>