<div class="dashboard-section">
    <div class="dashboard-cards">

    <!-- {dashboard.map((item, index) => (
        <div
            key={item.id}
            class={`dashboard-card dashboard-card-${index + 1}`}
        >
            <div class="dashboard-card-content">

            {index === 0 ? (
                <h2 class="dashboard-card-cost">
                ${item.cost.toLocaleString('en-US', {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2
                })}
                </h2>
            ) : index === 3 ? (
                <h2 class="dashboard-card-cost">
                {item.cost.toLocaleString()}%
                </h2>
            ) : (
                <h2 class="dashboard-card-cost">
                {item.cost.toLocaleString()}
                </h2>
            )}

            <p class="dashboard-card-title">
            {item.title}
            </p>

            <div className="dashboard-card-change">
            {item.isIncrease ? (
                <ArrowUpwardIcon />
            ) : (
                <ArrowDownwardIcon />
            )}

            <span>{item.percent}</span>
            </div>

        </div>

        <div className="dashboard-card-icon">
            {icons[index]}
        </div>
        </div>
    ))} -->
    @for (item of dashboard; track item.id) {

    <div
        [class]="'dashboard-card dashboard-card-' + item.id"
    >

        <div class="dashboard-card-content">

            @if ($index === 0) {

                <h2 class="dashboard-card-cost">
                    {{ item.cost | number:'1.2-2' }}
                </h2>

            } @else if ($index === 3) {

                <h2 class="dashboard-card-cost">
                {{ item.cost }}%
                </h2>

            } @else {

                <h2 class="dashboard-card-cost">
                {{ item.cost.toLocaleString() }}
                </h2>

            }

            <p class="dashboard-card-title">
                {{ item.title }}
            </p>

            <div class="dashboard-card-change">
                @if (item.isIncrease) {
                    <mat-icon>arrow_upward</mat-icon>
                }
                @else {
                    <mat-icon>arrow_downward</mat-icon>
                }

                <span>{{item.percent}}</span>
            </div>

        </div>

        <div class="dashboard-card-icon">
            <mat-icon>{{ item.icon }}</mat-icon>
        </div>

    </div>

    }

    </div>

<!-- 
    <DashboardCharts /> -->
    <app-dashboard-chart-page></app-dashboard-chart-page>

    
    <div class="dashboard-bottom">
        <app-recentactivities-page></app-recentactivities-page>
        <app-topproducts-page></app-topproducts-page>
    </div>

</div>