<div class="section">

  <div>

    <h2 style="font-size: 48px; margin-bottom: 10px;">SweetAlert2</h2>

    <p>Beautiful, responsive, customizable replacement for JavaScript's popup boxes</p>

    <br><br>

    <div class="box-row-4">

        <h3>Basic Examples</h3>

        <hr style="border-top: 1px solid #d0cccc" />
        


        <div class="button-margin">

            <div class="button-row">

                @for (item of basicExample; track item.id) {
                    <button 
                        [class]="`button-icon-` + item.id"
                        (click)="handleClickButton(item)"
                    >
                        <div style="display: flex; gap: 5px; align-items: center;">
                            <div class="button-icon">
                                <mat-icon>{{ item.iconButton }}</mat-icon>
    
                            </div>
    
                            <p>{{item.title}}</p>
                        </div>

                    </button>
                }

            </div>

        </div>

    </div>

    <br><br><br>
    
    
    <div class="box-row-4">

        <h3>Interactive Examples</h3>

        <hr style="border-top: 1px solid #d0cccc" />
        


        <div class="button-margin">

            <div class="button-row">

                <button 
                    class="button-icon-1"
                    (click)="confirmDialog()"
                >
                    <div style="display: flex; gap: 5px; align-items: center;">
                        <div class="button-icon">
                            <mat-icon>
                                help
                            </mat-icon>

                        </div>

                        <p>Confirm Dialog</p>
                    </div>

                </button>

                <button 
                    class="button-icon-new"
                    (click)="inputEmailAddress()"
                >
                    <div style="display: flex; gap: 5px; align-items: center;">
                        <div class="button-icon">
                            <mat-icon>
                                keyboard
                            </mat-icon>

                        </div>

                        <p>Input Dialog</p>
                    </div>

                </button>

                <button 
                    class="button-icon-new-2"
                    (click)="AjaxRequest()"
                >
                    <div style="display: flex; gap: 5px; align-items: center;">
                        <div class="button-icon">
                            <mat-icon>
                                cloud_download
                            </mat-icon>

                        </div>

                        <p>AJAX Request</p>
                    </div>

                </button>

                <button 
                    class="button-icon-new-3"
                >
                    <div style="display: flex; gap: 5px; align-items: center;">
                        <div class="button-icon">
                            <mat-icon>
                                link
                            </mat-icon>

                        </div>

                        <p>Chained Modals</p>
                    </div>

                </button>

            </div>

        </div>

    </div>  

    <br><br><br>

    <div class="box-row-4">

        <h3>Advanced Features</h3>

        <hr style="border-top: 1px solid #d0cccc" />
        


        <div class="button-margin">

            <div class="button-row">

                <button 
                    class="button-outline-1"
                    (click)="autoCloseTimer()"
                >
                    <div style="display: flex; gap: 5px; align-items: center;">
                        <div class="button-icon">
                            <mat-icon>
                                access_time
                            </mat-icon>

                        </div>

                        <p>Auto Close Timer</p>
                    </div>

                </button>

                <button 
                    class="button-outline-2"
                    (click)="htmlContent()"
                >
                    <div style="display: flex; gap: 5px; align-items: center;">
                        <div class="button-icon">
                            <mat-icon>
                                code
                            </mat-icon>

                        </div>

                        <p>HTML Content</p>
                    </div>

                </button>

                <button 
                    class="button-outline-3"
                    (click)="customStyling()"
                >
                    <div style="display: flex; gap: 5px; align-items: center;">
                        <div class="button-icon">
                            <mat-icon>
                                color_lens
                            </mat-icon>

                        </div>

                        <p>Custom Styling</p>
                    </div>

                </button>

                <button 
                    class="button-outline-4"
                    (click)="withImage()"
                >
                    <div style="display: flex; gap: 5px; align-items: center;">
                        <div class="button-icon">
                            <mat-icon>
                                image
                            </mat-icon>

                        </div>

                        <p>With Image</p>
                    </div>

                </button>

            </div>

        </div>

    </div>  

    <br><br><br>

    <div class="box-row-4">

        <h3>Toast Notifications</h3>

        <hr style="border-top: 1px solid #d0cccc" />
        


        <div class="button-margin">

            <div class="button-row">

                @for (item of toastNotification; track item.id) {
                    <button 
                        [class]="`button-icon-toast-` + item.id"
                        (click)="handleClickToast(item)"
                    >
                        <div style="display: flex; gap: 5px; align-items: center;">
                            <div class="button-icon">
                                <mat-icon>{{ item.iconButton }}</mat-icon>
    
                            </div>
    
                            <p>{{item.title}}</p>
                        </div>

                    </button>
                }

            </div>

        </div>

    </div>

    <br><br><br>

    <div class="box-row-4">

        <h3>Toast Notifications</h3>

        <hr style="border-top: 1px solid #d0cccc" />

        <div class="button-margin">

            <div class="button-row">

                <div class="item-grid">

                    @for (item of positioning; track item.id) {

                        <button 
                            class="button-position-outline"
                            (click)="handleClickPosition(item)"
                        >
                            <div style="display: flex; gap: 5px; align-items: center;">
                                <div class="button-icon">
                                    <mat-icon>{{ item.iconButton }}</mat-icon>
                                </div>
        
                                <p>{{item.title}}</p>
                            </div>

                        </button>

                    }

                </div>

            </div>
        
        </div>
    
    </div>

    <br><br><br>

    <div class="box-row-4">

        <h3>Special Examples</h3>

        <hr style="border-top: 1px solid #d0cccc" />
        


        <div class="button-margin">

            <div class="button-row">

                <button 
                    class="button-special-1"
                >
                    <div style="display: flex; gap: 5px; align-items: center;">
                        <div class="button-icon">
                            <mat-icon>
                                format_list_bulleted
                            </mat-icon>

                        </div>

                        <p>Queue Example</p>
                    </div>

                </button>

                <button 
                    class="button-special-2"
                    (click)="handleClickMixing()"
                >
                    <div style="display: flex; gap: 5px; align-items: center;">
                        <div class="button-icon">
                            <mat-icon>
                                local_drink
                            </mat-icon>

                        </div>

                        <p>Mixin Example</p>
                    </div>

                </button>

                <button 
                    class="button-special-3"
                    (click)="handleStepAlert()"
                >
                    <div style="display: flex; gap: 5px; align-items: center;">
                        <div class="button-icon">
                            <mat-icon>
                                filter_list
                            </mat-icon>

                        </div>

                        <p>Progress Steps</p>
                    </div>

                </button>

                <button 
                    class="button-special-4"
                    (click)="handleDeleteConfirm()"
                >
                    <div style="display: flex; gap: 5px; align-items: center;">
                        <div class="button-icon">
                            <mat-icon>
                                delete
                            </mat-icon>

                        </div>

                        <p>Delete Confirm</p>
                    </div>

                </button>

            </div>

        </div>

    </div>

  </div>